.loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-text);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}